[submodule "typst"]
	path = typst
	url = https://github.com/typst/typst
[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "gf"]
	path = gf
	url = https://github.com/nakst/gf
[submodule "onefetch"]
	path = onefetch
	url = https://github.com/o2sh/onefetch
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "mold"]
	path = mold
	url = https://github.com/rui314/mold.git
